# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = os.path.join('..', 'WeatherPy', 'cities_weather.csv')
cities_weather = pd.read_csv(file)
cities_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chifeng,42.2683,118.9636,24.28,88,0,13.47,CN,1612457243
1,1,Jamestown,42.0970,-79.2353,34.00,80,20,5.75,US,1612457119
2,2,Bluff,-46.6000,168.3333,46.65,82,41,7.83,NZ,1612457245
3,3,Poum,-20.2333,164.0167,79.83,83,12,15.82,NC,1612457247
4,4,Khovd,48.0056,91.6419,20.01,81,99,6.73,MN,1612457248
...,...,...,...,...,...,...,...,...,...,...
543,543,Nuuk,64.1835,-51.7216,10.40,67,1,21.85,GL,1612457881
544,544,Buraidah,26.3260,43.9750,73.40,33,40,4.61,SA,1612457824
545,545,Thinadhoo,0.5333,72.9333,82.65,74,52,8.86,MV,1612457922
546,546,Fukuechō,32.6881,128.8419,48.63,53,0,9.37,JP,1612457923
547,547,Longhua,23.6137,114.1919,58.33,73,1,1.32,CN,1612457924

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Store map data in variables
locations = cities_weather[["Lat", "Lng"]]
humidity = cities_weather["Humidity"]

#Plot map
fig = gmaps.figure(map_type='ROADMAP', center = [0, 0], zoom_level = 1.85)

# Create heat layer
heatmap = gmaps.heatmap_layer(locations, weights = humidity)
fig.add_layer(heatmap)

#Display map
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
cities_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chifeng,42.2683,118.9636,24.28,88,0,13.47,CN,1612457243
1,1,Jamestown,42.0970,-79.2353,34.00,80,20,5.75,US,1612457119
2,2,Bluff,-46.6000,168.3333,46.65,82,41,7.83,NZ,1612457245
3,3,Poum,-20.2333,164.0167,79.83,83,12,15.82,NC,1612457247
4,4,Khovd,48.0056,91.6419,20.01,81,99,6.73,MN,1612457248
...,...,...,...,...,...,...,...,...,...,...
543,543,Nuuk,64.1835,-51.7216,10.40,67,1,21.85,GL,1612457881
544,544,Buraidah,26.3260,43.9750,73.40,33,40,4.61,SA,1612457824
545,545,Thinadhoo,0.5333,72.9333,82.65,74,52,8.86,MV,1612457922
546,546,Fukuechō,32.6881,128.8419,48.63,53,0,9.37,JP,1612457923
547,547,Longhua,23.6137,114.1919,58.33,73,1,1.32,CN,1612457924

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# Define desired weather parameters and drop those outside of parameters
index_names = cities_weather[(cities_weather['Max Temp'] < 70) | (cities_weather['Max Temp'] > 80) | 
                             (cities_weather['Cloudiness'] == 0) | (cities_weather['Wind Speed'] > 5)].index 
ideal_weather = cities_weather.drop(index_names, inplace = False)
ideal_weather.dropna(how='any')
ideal_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Avarua,-21.2078,-159.7750,75.20,94,20,2.30,CK,1612457250
23,23,Vaini,-21.2000,-175.2000,77.00,100,75,2.30,TO,1612457270
63,63,Tiarei,-17.5333,-149.3333,75.20,88,20,2.30,PF,1612457320
64,64,Salalah,17.0151,54.0924,75.20,69,40,3.44,OM,1612457324
66,66,Padang,-0.9492,100.3543,78.80,89,40,2.30,ID,1612457327
76,76,Kui Buri,12.0828,99.8543,72.39,71,23,4.03,TH,1612457340
85,85,Hermanus,-34.4187,19.2345,72.00,72,38,4.00,ZA,1612457354
91,91,Port Alfred,-33.5906,26.8910,73.00,79,66,1.99,ZA,1612457361
92,92,Japura,-0.3167,102.3500,73.15,86,84,1.57,ID,1612457363
113,113,Bengkulu,-3.8004,102.2655,76.05,86,100,4.83,ID,1612457386
116,116,Haapiti,-17.5667,-149.8667,75.20,88,20,2.30,PF,1612457390
117,117,Mutoko,-17.3970,32.2268,70.02,92,23,4.34,ZW,1612457391
139,139,Amahai,-3.3333,128.9167,78.49,82,100,4.23,ID,1612457220
145,145,Mbandaka,0.0487,18.2603,77.99,73,95,2.37,CD,1612457426
152,152,Arlit,18.7369,7.3853,78.42,15,42,4.88,NE,1612457437
164,164,Ankazoabo,-22.2833,44.5167,78.49,75,73,2.21,MG,1612457452
218,218,Biak,-0.9131,122.8766,76.77,79,100,3.15,ID,1612457519
228,228,Kieta,-6.2167,155.6333,78.91,75,100,4.09,PG,1612457531
263,263,Bima,-8.4667,118.7167,76.05,84,100,1.05,ID,1612457575
286,286,Cabo San Lucas,22.8909,-109.9124,73.40,38,20,2.30,MX,1612457601
287,287,Kendari,-3.9450,122.4989,76.48,90,100,3.02,ID,1612457602
320,320,Tautira,-17.7333,-149.1500,75.20,88,20,2.30,PF,1612457422
328,328,Voh,-20.9667,164.7000,75.09,90,42,4.12,NC,1612457654
341,341,Mufumbwe,-13.6833,24.8000,70.86,82,56,3.22,ZM,1612457670
343,343,Kawalu,-7.3817,108.2082,73.40,89,100,3.11,ID,1612457672
355,355,Namatanai,-3.6667,152.4333,78.66,81,100,3.40,PG,1612457687
361,361,Alofi,-19.0595,-169.9187,75.20,100,100,2.30,NU,1612457695
411,411,Santa Rosalía,27.3167,-112.2833,73.00,39,87,2.98,MX,1612457760
420,420,Mahina,-17.5065,-149.4890,75.20,88,20,2.30,PF,1612457770
424,424,Mīzan Teferī,6.9833,35.5833,71.91,43,20,2.10,ET,1612457774
445,445,Flinders,-34.5833,150.8552,72.00,86,58,1.99,AU,1612457800
460,460,Bambanglipuro,-7.9500,110.2833,76.86,89,100,3.18,ID,1612457775
465,465,Katobu,-4.9408,122.5276,75.92,93,100,2.37,ID,1612457823
483,483,Ambilobe,-13.2000,49.0500,77.34,90,100,2.35,MG,1612457847
492,492,Kiama,-34.6833,150.8667,72.00,82,57,3.00,AU,1612457859
507,507,Manokwari,-0.8667,134.0833,78.04,81,100,4.65,ID,1612457876
544,544,Buraidah,26.3260,43.9750,73.40,33,40,4.61,SA,1612457824

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure