# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = os.path.join('..', 'WeatherPy', 'cities_weather.csv')
cities_weather = pd.read_csv(file)
cities_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chifeng,42.2683,118.9636,24.28,88,0,13.47,CN,1612457243
1,1,Jamestown,42.0970,-79.2353,34.00,80,20,5.75,US,1612457119
2,2,Bluff,-46.6000,168.3333,46.65,82,41,7.83,NZ,1612457245
3,3,Poum,-20.2333,164.0167,79.83,83,12,15.82,NC,1612457247
4,4,Khovd,48.0056,91.6419,20.01,81,99,6.73,MN,1612457248
...,...,...,...,...,...,...,...,...,...,...
543,543,Nuuk,64.1835,-51.7216,10.40,67,1,21.85,GL,1612457881
544,544,Buraidah,26.3260,43.9750,73.40,33,40,4.61,SA,1612457824
545,545,Thinadhoo,0.5333,72.9333,82.65,74,52,8.86,MV,1612457922
546,546,Fukuechō,32.6881,128.8419,48.63,53,0,9.37,JP,1612457923
547,547,Longhua,23.6137,114.1919,58.33,73,1,1.32,CN,1612457924

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure